// Avatar 
.avatar {
    border-radius: 50%;
    width: 40px;

    &.avatar-xs {
        width: 27px;
    }

    &.avatar-sm {
        width: 34px;
    }

    &.avatar-md {
        width: 48px;
    }

    &.avatar-lg {
        width: 82px;
    }

    &.avatar-xl {
        width: 94px;
    }

    &.square {
        border-radius: unset;
    }
}