// From
.form-switch {
    display: flex;
    align-items: center;

    .form-check-input {
        width: 3em;
        height: 1.5em;

        &:checked {
            background-image: url('../images/cricle.svg');
        }
    }
}