// Nav Default 
.default {
    .nav-item {
        .nav-link {

            font-weight: 500;
            color: $dark;

            &.active {
                color: $warning;
                position: relative;

                &:after {
                    position: absolute;
                    bottom: 0;
                    width: 17px;
                    height: 3px;
                    content: '';
                    background-color: $warning;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 3px;

                }
            }
        }
    }
}