// Sidebar
.sidebar {
    background-color: $white;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    left: 0;
    height: 100vh;
    padding-top: 83px;


    li {

        padding: 10px;

        &.active {
            background-color: $primary;
            border-radius: 12px;

            .single-item-link {
                color: $warning2;
            }
        }

        .single-item-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: $text-color;

            i {
                font-size: 20px;
                line-height: 1;
            }

            span {
                margin-left: 10px;
                transition: opacity .5s;
                transition-delay: .2s;

            }

        }

    }

    .accordion {
        list-style: none;
        padding-left: 0;

        .accordion-item {
            background-color: transparent;
            border: unset;
            padding-top: 0;
            padding-bottom: 0;

            .accordion-button {
                background-color: transparent;
                padding-left: 0;

                &:focus {
                    box-shadow: unset;
                }
            }

            .accordion-button:not(.collapsed) {
                box-shadow: unset;
            }

            .accordion-body {
                list-style: none;
                padding: 0;
                padding-left: 20px;

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }

}


.minified-sidebar {
    .sidebar {
        .accordion {
            .accordion-button {
                &:after {
                    display: none;
                }
            }
        }

        li {
            .single-item-link {
                span {
                    visibility: hidden;
                    opacity: 0;
                }
            }
        }
    }

}