.table-default {
    .light {
        border-color: transparent;
        background-color: rgba($light, .5);
    }

    thead {
        td {
            text-transform: uppercase;
        }

    }

    &.table> :not(:first-child) {
        border-top: unset
    }

    tbody {
        td {
            border: 0;
            color: $dark;
            font-weight: 500;
            font-size: 15px;
        }

        .status {
            font-size: 12px;
            padding: 5px 14px 10px 14px;
            position: relative;

            &:after {
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                left: 0;
                border-radius: 5px;
            }

            &.success {
                &:after {
                    background-color: rgba($success, .2);
                }

                color: $success;
            }

            &.primary {
                &:after {
                    background-color: rgba($primary, .1);
                }

                color: $primary;

            }

            &.danger {
                &:after {
                    background-color: rgba($danger, .1);
                }

                color: $danger
            }
        }
    }

    .mdi {
        line-height: 1;
        font-size: 18px;
    }
}