// Breakpoints
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1650px
);

// Spacer
$spacer: 1rem !default;
$spacers: (
        (0: 0,
                1: ($spacer * .3125),
                2: ($spacer * .625),
                3: $spacer * .9375,
                4: ($spacer * 1.25),
                5: ($spacer * 1.5625),
                6: ($spacer * 1.875),
                7: ($spacer * 3.125),
                8: ($spacer * 4.0625))
);

// Color system

$gray-100: #F5F6FA !default;
$gray-200: #8398AE !default;
$gray-300: #707070 !default;
$gray-700: #31394D !default;
// $gray-900: #0E1317 !default;


// Colors

$primary: #424E9C !default;
$success: #1EBE00 !default;
$info: #50ACBB !default;
$warning: #E79A37 !default;
$danger: #DE0B5A !default;
$white: #ffffff !default;
$dark: $gray-700  !default;
$border-color: #ced4da !default;
$secondary: $gray-200  !default;
$light: $gray-100  !default;
$light-deep: $gray-200  !default;
$text-color: $gray-200  !default;
$warning2: #FEC400 !default;
$bg-purple: #B558F6;
$orang: #FCBF24;


$theme-colors: (
        ("primary": $primary,
                "secondary": $secondary,
                "success": $success,
                "info": $info,
                "warning": $warning,
                "danger": $danger,
                "light": $light,
                "dark": $dark,
                "purple": $bg-purple)
);


//Body
$body-bg: $light  !default;
$body-color: $gray-200  !default;

// font-family: 'Roboto', sans-serif;
// font-family:;

// Fonts
$font-family-roboto: 'Roboto',
        sans-serif !default;
$font-family-barlow: 'Barlow',
        sans-serif !default;
$font-family-matetial-icon: 'Material Design Icons' !default;

$font-family-base: $font-family-barlow  !default;
$font-family-secondary: $font-family-roboto  !default;
$font-family-icon: $font-family-matetial-icon  !default;

$input-btn-padding-y: 0.6rem;
$input-btn-padding-x: 1.5rem;

// Input 
// $input-padding-y: $input-btn-padding-y;
// $input-padding-x: $input-btn-padding-x;